<h1>Edit tweet</h1>
<%= form_with model: @tweet do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>
  <div>
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end%>
