 <nav class="navbar navbar-expand-lg navbar navbar navbar-light" style="background-color: #F0FFF0;"">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="https://seeklogo.com/images/T/twitter-logo-4BD1CE8FF3-seeklogo.com.png" style="width: 100px;"></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/tweets" class="nav-item nav-link active link-secondary">Home</a>
                <a href="/posts" class="nav-item nav-link">Following</a>
                <a href="/tweets/new" class="nav-item nav-link">Tweet</a>
                <a href="/likes" class="nav-item nav-link">Liked Posts</a>
                <a href="/logout" class="nav-item nav-link" style="text-align: right;">Logout</a>
            </div>
            
            <div class="navbar-nav ms-auto">
            <mdb-navbar expand="large" dark color="purple">
  <mdb-navbar-toggler>
        <mdb-icon icon="envelope" />
      </mdb-nav-item>
      <mdb-dropdown tag="li" class="nav-item avatar" anchorClass="p-0">
        <mdb-dropdown-toggle tag="a" navLink color="stylish" slot="toggle" waves-fixed>
                <a href="/profile/<%= current_user.id%>"><img
                src="<%= current_user.image_url%>"
                class="z-depth-0"
                style="width: 100px; height: 100px; border-radius: 50%;"
                alt="avatar image"
                height="70"
                /></a>

                
            </div>
        </div>
    </div>
</nav>
<h1>Tweet Feed</h1>
<div class="container-fluid">
<% @tweets.each do |tweet| %>
<li class="list-group-item" style="margin: 50px 200px;">
              <div class="media">
                <div class="media-left">
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <%# <small class="text-muted pull-right">Just now</small> %>
                    <div style="height: 100px;">
          <img src="<%= tweet.user.image_url%>"
            style="width: 100px; height: 100px; border-radius: 50%;"
            height="70"
            align="right"
          >
          </div>
          <div>
          <h5 align="Right" style="padding-right: 20px;"> <a href="profile/<%= tweet.user.id%>"><%= tweet.user.name %></a></h5>
          </div>
          <div style="text-align: left; margin-left:auto; margin-right: auto; width: 600px;">
                  <h4 class="media-heading"></h4>
                  <div>
                  <h3>
                    <%= tweet.title %>
                  </h3>
                  <div style="margin-bottom: 30px;">
                    <%= tweet.body %>
                  </div>
                  <div>
                    <img src="<%= tweet.image_url %>" alt="..." style="width: 600px;">
                  </div>
                  <div style="padding-top: 30px;">
                      <div style="font-size: 20px;">
                      <% if tweet.likes.count == 1 %>
                      <%= tweet.likes.count %> Like
                      <% else %>
                      <% tweet.likes.count %> Likes
                      <% end %>
                  </div>
                  </div>
                  <div>
                    <% like = current_user.likes.find_by(tweet: tweet) if !current_user.nil? %>
                    <% if like.nil? %>
                      <form action="/likes" method="post">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="like[tweet_id]" value="<%= tweet.id %>">
                        <input type="hidden" name="like[tweet_type]" value="<%= tweet.class.to_s %>">
                        <input type="submit" value="Like" class="btn btn-outline-success">
                      </form>
                    <% else %>
                      <form action="<%= like_path(like) %>" method="post">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Unlike" class="btn btn-outline-success">
                      </form>
                    <% end %>
                    <div style="margin-top: 20px;">
                        <% if tweet.user_id == current_user.id %>
                        <a href="<%= edit_tweet_path(tweet)%>" class="btn btn-outline-success">Edit</a>
                        <%= link_to "Delete", tweet_path(tweet), data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        }, class: "btn btn-outline-success" %>
                        <% end %>
                    </div>
            </div>
      </div>
</div>
</div>

<% end %>
</div>


<%# <div class="row">
<link rel="stylesheet" href="index.css">
    <div class="col-md-6 col-xs-12 col-md-offset-3">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Twitter Feed</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <textarea class="form-control" placeholder="Enter here for tweet..." rows="3"></textarea>
          </div>
          <a href="javascript:void(0)" class="btn btn-info btn-sm pull-right waves-effect waves-light">Tweet</a> %>




          