<h1>Tweet Show</h1>
<h2><%= @tweet.title %></h2>
<p> <%= @tweet.body %></p>
<div>
<%= link_to "Edit tweet", edit_tweet_path(@tweet) %>
</div>
<div>
<%= link_to "Destroy tweet", tweet_path(@tweet), data: {turbo_method: :delete} %>
</div>
<div>
<a href="/tweets">Back to all tweets</a>

<div>
<% if @tweet.likes.count == 1 %>
<%= @tweet.likes.count %> Like
<% else %>
<% @tweet.likes.count %> Likes
<% end %>
</div>

<% like = current_user.likes.find_by(tweet: @tweet)%>
<% if current_user.likes.find_by(tweet: @tweet).nil?%>
<%= button_to "Like", likes_path, params: {like: {tweet_id: @tweet.id}}, method: :tweet %>
<% else %> 
<%= button_to "Unlike", likes_path, params: {like: {tweet_id: @tweet.id}}, method: :delete %>
<% end %>
</div>




<%# html version for styling easier syntax will need to be fixed  %>

<%# <form action="/likes" method="post"> %>
<%# <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>
<%# <input type="hidden" name="like[tweet_id]" value="<%= @tweet.id %>
<%# <input type="submit" value="Like">
<% else %> 
<%# <form action="<% like_path(like) %>
<%# " method="post"> %> 
<%# <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>
<%# <input type="hidden" name="like[tweet_id]" value="<%= @tweet.id %>
<%# <input type="hidden" name="_method" value="DELETE"> %>
<%# <input type="submit" value="Unlike">
<% end %> 
<%# </form> %>