<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Twitter</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/tweets" class="nav-item nav-link active">Home</a>
                <a href="/posts" class="nav-item nav-link">Following</a>
                <a href="/tweets/new" class="nav-item nav-link">Tweet</a>
            </div>
            
            <div class="navbar-nav ms-auto">
            <mdb-navbar expand="large" dark color="purple">
  <mdb-navbar-toggler>
        <mdb-icon icon="envelope" />
      </mdb-nav-item>
      <mdb-dropdown tag="li" class="nav-item avatar" anchorClass="p-0">
        <mdb-dropdown-toggle tag="a" navLink color="stylish" slot="toggle" waves-fixed>
                <a href="profile/<%= current_user.id%>" class="nav-item nav-link"><%= current_user.name %></a>
          <img
            src="<%= current_user.image_url%>"
            class="rounded-circle z-depth-0"
            alt="avatar image"
            height="70"
          />
                          <% if @user.id == current_user.id %>
 <a href= "/users/<%=@user.id%>/edit" class="nav-item nav-link"> Edit Account </a>
<% end %>
                <a href="/logout" class="nav-item nav-link">Logout</a>

            </div>
        </div>
    </div>
</nav>


<div class="card" style="width: 50rem; text-align: center; margin-left: 22%; background-color: #eeeeee;">
  <div class="card-body">
    <h5 class="card-title"><%= @user.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">
    <div>
<% if @user.followers.count == 1 %>
<%= @user.followers.count %> Follower
<% else %>
<%= @user.followers.count %> Followers
<% end %>
</div>

<div>
<% if current_user.following?(@user.id) == false %>
 <%= button_to 'Follow', {:controller => "relationships", :action => "create", :leader_id=> @user.id}, :method=>:post  %>
</div> 
<% else %>
<div>
<%= button_to 'Unfollow', {:controller => "relationships", :action => "destroy", :leader_id=> @user.id}, :method=>:delete  %>
<% end %>
</div>

    </h6>
    <p class="card-text"> <div>
    <% @user.tweets.each do |tweet| %>

    <div class="card" style="width: 18rem; text-align: left; margin-top: 50px; margin-left: 32%;">
    <img src="<%= tweet.image_url %>" class="card-img-top" alt="..." >
    <div class="card-body">
    <h5 class="card-title"><%= tweet.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><div>
<% if tweet.likes.count == 1 %>
<%= tweet.likes.count %> Like
<% else %>
<% tweet.likes.count %> Likes
<% end %>
</div>

<div>
<% like = current_user.likes.find_by(tweet: tweet) if !current_user.nil? %>
<% if like.nil? %>
  <form action="/likes" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="like[tweet_id]" value="<%= tweet.id %>">
    <input type="hidden" name="like[tweet_type]" value="<%= tweet.class.to_s %>">
    <input type="submit" value="Like">
  </form>
<% else %>
  <form action="<%= like_path(like) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Unlike">
  </form>
<% end %>
</div></h6>
    <p class="card-text"><%= tweet.body %></p>
    
      <% if tweet.user_id == current_user.id %>
    <a href="<%= edit_tweet_path(tweet)%>" class="btn btn-primary">Edit</a>
        <%= link_to "Delete", tweet_path(tweet), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    }, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<% end %>
<div> </p>
  </div>
</div>












