<h1>User Profile</h1>
<h2>Name: <%= @user.name %></h2>

<div>
<% @user.tweets.each do |tweet| %>
  <h4><%= tweet.title %></h4>
  <p> <%= tweet.body %></p>
<% end %>
</div>




<% if @user.id == current_user.id %>
  <a href="/edit_user">Edit Profile</a>
<% end %>

 <div>
<%= <button onclick="window.location.href='/follow'"> Click to follow
 </button> %>
 <%= button_to '+', {:controller => "relationships", :action => "create", :leader_id=> @user.id} , :method=>:post  %>
</div> 

<div>
<% if @user.followers.count == 1 %>
<%= @user.followers.count %> Follower
<% else %>
<% @user.followers.count %> Followers
<% end %>
</div>

  <p> <%= @user.id %></p>


  
<a href="/tweets">Back to all tweets</a>

