<h1>User Profile</h1>
<h2>Name: <%= @user.name %></h2>

<div>
<% @user.tweets.each do |tweet| %>
  <h4><%= tweet.title %></h4>
  <p> <%= tweet.body %></p>
<% end %>
</div>




<% if @user.id == current_user.id %>
  <a href="/edit_user">Edit Profile</a>
<% end %>

 <div>
 <%= button_to 'Click to Follow', {:controller => "relationships", :action => "create", :leader_id=> @user.id}, :method=>:post  %>
</div> 

<div>
<%= button_to 'Click to Unfollow', {:controller => "relationships", :action => "destroy", :leader_id=> @user.id}, :method=>:delete  %>
</div> 
  
<a href="/tweets">Back to all tweets</a>