<h1>User Profile</h1>
<h2>Name: <%= @user.name %></h2>

<div>
<% @user.tweets.each do |tweet| %>
  <h4><%= tweet.title %></h4>
  <p> <%= tweet.body %></p>
    <% if tweet.user_id == current_user.id %>

    <%= link_to "Delete tweet", tweet_path(tweet), data: {turbo_method: :delete} %>
    <div>
    <%= link_to "Edit tweet", edit_tweet_path(tweet) %>
    </div>
    <% end %>
<% end %>
<div>
<%= link_to "New tweet", new_tweet_path %>
</div>

</div>




<% if @user.id == current_user.id %>
 <a href= "/users/<%=@user.id%>/edit"> Edit Profile </a>
<% end %>

 
<div>
<% if current_user.following?(@user.id) == false %>
 <%= button_to 'Click to Follow', {:controller => "relationships", :action => "create", :leader_id=> @user.id} , :method=>:post  %>
</div> 
<% else %>
<div>
<%= button_to 'Click to Unfollow', {:controller => "relationships", :action => "destroy", :leader_id=> @user.id}, :method=>:delete  %>
<% end %>
</div>


<div>
<% if @user.followers.count == 1 %>
<%= @user.followers.count %> Follower
<% else %>
<%= @user.followers.count %> Followers
<% end %>
</div>



  
<a href="/tweets">Back to all tweets</a>

